/* COMMUNS */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-rendering: optimizeLegibility;
}

html {
    font-size: 14px;
    scroll-behavior: smooth;

    --color-main: #DBE6EC;
    --color-bg: #131212;
    --color-accent: #E3FD41;

    --color-about-yellow: #DEDA87;
    --color-about-yellow-bg: #DEDA8733;
    --color-about-purple: #C1B4F1;
    --color-about-purple-bg: #C1B4F133;

    --top-bar-height: 77;
    --padding-border: 12px;

    --max-width: 1700px;
    --size-card: 200px;

    --project-duration: 1.4s;
    --loading-duration: 1.8s;

    @include media('>=md') {
        --size-card: 250px;
        --padding-border: 50px;
    }

    @include media('>=lg') {
        --size-card: 300px;
    }

    @include media('>=xl') {
        --size-card: 340px;
    }
}

*::selection {
    background-color: var(--color-accent);
    color: var(--color-bg);
}

button:focus, a:focus, input:focus, select:focus {
    /* Some exciting button focus styles */
    //outline: 1px solid var(--color-accent);
    //opacity: 1; // for input
}
button:focus:not(:focus-visible), a:focus:not(:focus-visible), input:focus:not(:focus-visible), select:focus:not(:focus-visible) {
    /* Undo all the above focused button styles if the button has focus but the browser wouldn't normally show default focus styles */
    outline: inherit;
}
button:focus-visible, a:focus-visible, input:focus-visible, select:focus-visible {
    /* Some even *more* exciting button focus styles */
    outline: 1px solid var(--color-accent);
    opacity: 1;
}

body {
    background-color: var(--color-bg);
    font-family: $noi;
}

body::-webkit-scrollbar {
    width: var(--scroll-bar-width, 6px);
    height: 8px;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background: var(--color-scroll-thumb, var(--color-accent));
}

a,
button {
    border: none;
    background-color: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

li {
    list-style: none;
}
