
/* COMMUNS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

body {
  font-family: Noi, Dida, sans-serif;

}
a, button {
  text-decoration: none;
  color: inherit;
  outline: none;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

li {
  list-style: none;
}
