
/* COMMUNS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 14px;
}

body {
  font-family: Noi, Dida, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}
