/* COMMUNS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

body {
  font-family: Noi, Dida, sans-serif;
  --padding-border: 40px;
  background-color: color(background);
  //z-index: 5;
  //user-select: none;
  //pointer-events: none;
}

body::-webkit-scrollbar {
  width: var(--scroll-bar-width, 6px);
  height: 8px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background: var(--color-scroll-thumb, color(main-orange));
}

a,
button {
  text-decoration: none;
  color: inherit;
  outline: none;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

li {
  list-style: none;
}
