@use 'sass:map';

@mixin dida {
  font-family: $dida;
}

@mixin noi {
  font-family: $noi;
}

/*
@mixin fluid-font-size($values) {
    $keys: map.keys($values);
    $max: nth($keys, 2);
    $max-value: map.get($values, $max);

    font-size: rem($max-value);
    font-size: fluid($values);
}
 */
