@use 'sass:math';

@mixin text-h1 {
    font-family: $konstant;
    font-size: 72px;
    font-weight: 400;
    line-height: math.div(108, 120);
}

@mixin text-h2 {
    font-size: 28px;
    line-height: 1;
}

@mixin text-h3 {
    font-size: 21px;
    line-height: 1;
}

@mixin text-h4 {
    font-size: 24px;
    line-height: 1;
}

@mixin text-h5 {
    font-size: 24px;
    line-height: 1;
}

@mixin text-h6 {
    font-size: 24px;
    line-height: 1;
}

@mixin title-card {
    font-size: 64px;
    font-weight: 400;
    line-height: math.div(73, 82);
}

@mixin title-section {
    font-size: 21px;
    font-weight: 400;
    line-height: 1;
    opacity: 0.7;
}

@mixin tag-l {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
}

@mixin tag-m {
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
}

@mixin tag-s {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
}

@mixin body-l {
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
}

@mixin body-s {
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
}
