@use 'sass:math';

@mixin text-h1 {
    @include dida;
    font-size: 72px;
    font-weight: 400;
    line-height: math.div(108, 120);
    color: color(main-orange);
}

@mixin text-h2 {
    @include noi;
    font-size: 21px;
    line-height: 1;
    color: color(main-orange);
}

@mixin text-h3 {
    @include noi;
    font-size: 24px;
    line-height: 1;
    color: color(main-orange);
}

@mixin text-h4 {
    @include noi;
    font-size: 24px;
    line-height: 1;
    color: color(main-orange);
}

@mixin text-h5 {
    @include noi;
    font-size: 24px;
    line-height: 1;
    color: color(main-orange);
}

@mixin text-h6 {
    @include noi;
    font-size: 24px;
    line-height: 1;
    color: color(main-orange);
}

@mixin title-card {
  @include dida;
  font-size: 64px;
  font-weight: 400;
  line-height: math.div(73, 82);
    color: color(main-orange);
}

@mixin title-section {
  @include noi;
  font-size: 21px;
  line-height: 1;
  font-weight: 400;
  opacity: 0.7;
  color: color(light-yellow);
}


@mixin tag-l {
  @include noi;
  font-size: 20px;
  line-height: 1;
  font-weight: 600;
}

@mixin tag-m {
  @include noi;
  font-size: 16px;
  line-height: 1;
  font-weight: 600;
}

@mixin tag-s {
  @include noi;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
}

@mixin body-l {
  @include noi;
  font-size: 24px;
  line-height: 1;
  font-weight: 600;
}

@mixin body-s {
  @include noi;
  font-size: 18px;
  line-height: 1;
  font-weight: 300;
}
