.project-enter-active,
.project-leave-active {
    transition: transform var(--project-duration) ease(out-quart);
}

.project-enter,
.project-leave-to {
    transform: translateY(100%);

    @include media('>=lg') {
        transform: translateX(100%);
    }
}


.gui-enter-active,
.gui-leave-active {
    transition: transform var(--project-duration) ease(out-quart);
}

.gui-enter,
.gui-leave-to {
    transform: translateY(-100%);
}


.item-project-enter-active,
.item-project-leave-active {
    transition: transform 1s ease(out-quart), opacity 0.4s ease(in-quart);
    transition-delay: calc(20ms + 40ms * var(--index, 1));
}

.item-project-leave-active {
    transition-delay: 0s;
}

.item-project-enter {
    transform: translateY(200px);

    @include media('>=lg') {
        transform: translateX(40vw);
    }
}
.item-project-leave-to {
    transform: translateX(-50vw);
}
