.project-modal-enter-active,
.project-modal-leave-active {
    transition: all 1.2s ease(out-quart);
}

.project-modal-enter-to,
.project-modal-leave-from {
    width: 50%;
}

.project-modal-enter-from,
.project-modal-leave-to {
    width: 0!important;
}
