.project-enter-active,
.project-leave-active {
    transition: transform var(--project-duration) ease(out-quart);

    & .project-inner > * {
        transition: transform 1s ease(out-quart), opacity 1s ease(out-quart);
        transition-delay: calc(100ms + 100ms * var(--index, 1));
    }
}

.project-enter,
.project-leave-to {
    transform: translateX(100%);

    & .project-inner > * {
        transform: translateX(80px);
    }
}

.project-enter {
    & .project-inner > * {
        opacity: 0;
    }
}

.gui-enter-active,
.gui-leave-active {
    transition: transform var(--project-duration) ease(out-quart);
}

.gui-enter,
.gui-leave-to {
    transform: translateY(-100%);
}

