@font-face {
    font-display: swap;
    font-family: 'Dida';
    font-style: normal;
    font-weight: normal;
    src: url('~static/fonts/Dida-Regular.woff2') format('woff2'), url('~static/fonts/Dida-Regular.ttf') format('ttf');
}
