@font-face {
    font-display: swap;
    font-family: 'konstant';
    font-style: normal;
    font-weight: normal;
    src: url('~assets/fonts/KonstantGrotesk.ttf') format('otf');
}

@font-face {
    font-display: swap;
    font-family: 'noi';
    font-weight: 100 900;
    font-style: oblique 0deg 10deg;
    src:
        url('~assets/fonts/noigrotesk-variable.ttf') format('truetype'),
        url('~assets/fonts/noigrotesk-variable.woff') format('woff'),
        url('~assets/fonts/noigrotesk-variable.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'varent';
    font-weight: 100 900;
    src:
        url('~assets/fonts/varentgrotesk.ttf') format('truetype'),
        url('~assets/fonts/varentgrotesk.woff') format('woff'),
        url('~assets/fonts/varentgrotesk.woff2') format('woff2');
}



@font-face {
    font-display: swap;
    font-family: 'mongo';
    font-style: normal;
    font-weight: normal;
    src: url('~assets/fonts/Mango-Black.woff') format('woff');
}

